@{
    ViewData["Title"] = "Analyze Page";
}
@using TextAnalyzer.Models;
@model TextModel

<div class="text-center">
    <h1 class="display-4">@ViewData["Title"]</h1>
</div>

<div class="row justify-content-center mt-5">

    <form asp-action="Analyze" method="post" class="list-group-horizontal form-add-product">
        <div class="d-flex">
            <div class="form-group">
                <div class="col-md">
                    <textarea asp-for="@Model.Text" class="form-control" value="" rows="20" cols="100" placeholder="Enter your text to analyze"></textarea>
                    <span asp-validation-for="@Model.Text" class="text-danger"></span>
                </div>
                <div class="mt-5 d-flex justify-content-center">
                    <input type="submit" class="btn btn-success" value="Analyze" />
                </div>
            </div>
            
            <div id="analyzerList">
                <h6>Supply at least one analyzer</h6>
                @for (int index = 0; index < AnalyzerListModel.AllAnalyzers.Count; index++) {
                    var item = AnalyzerListModel.AllAnalyzers.ElementAt(index);

                    string itemChecked = "";
                    if (Model.AnalyzerList != null && Model.AnalyzerList.Contains(item.Key)) {
                        itemChecked = "checked";
                    }
                    <div class="form-group">
                        <div class="col-md analyzer-item" data-title="@item.Value.Descripton">
                            <input type="checkbox" name="@item.Key" id="@item.Key" @itemChecked />
                            <input type="hidden" asp-for="@Model.AnalyzerList[index]" value="" />
                            <label for="@item.Key">@item.Key</label>
                            
                        </div>
                    </div>                    
                }
            </div>
        </div>
    </form>
</div>


@{
    if (ViewBag.Result != null) {
        <div class="mt-5">
            @foreach (var analyzer in @ViewBag.Result) {
            <div class="mt-5">
                <h6>@analyzer["Name"]</h6>
                @foreach (KeyValuePair<string, string> pair in analyzer) {
                    if (pair.Key.Equals("Name")) {
                        continue;
                    }
                    <div class="pl-4">
                        <b>@pair.Key :</b>
                        <span>@pair.Value</span>
                    </div>
                }
            </div>
            }
        </div>
        }
        if (ViewBag.Eror!= null) {
            <h1 class="">@ViewBag.Eror</h1>
        }
    }

